
    <div class="container">
        
        <div class="title">
            <h1>VISIO NOX DEMO</h1>
            <a target="_blank" href="https://www.youtube.com/watch?v=UKmsX399260&feature=youtu.be">  
                <p style="font-style: italic;">PLUMMET - KRY</p>
            </a>
          
        </div>

        <div class="container-player">
            <div class="slider">
                <label for="">Volume</label><br><br>
                <input type="range" id="slider" name="name" class="volume" required [(ngModel)]="sliderValue">    
                <p>{{sliderValue}}</p>  
            </div>  

            <div class="slider">
                <label for="">Loop Track</label><br><br>
                <input type="button"  name="name" class="button" [(ngModel)]="buttonValue" (click)="buttonValue = !buttonValue">    
                <p>{{buttonValue}}</p>  
            </div> 
 
            <div class="slider"> 
                <label for="">Playback Rate</label><br><br>
                <input type="range" id="slider" name="name" class="rate" required [(ngModel)]="sliderRateValue" min="0.1" max="3" step="0.1">      
                <p>{{sliderRateValue}}</p>  
            </div>  
        </div> 
    </div>
  
    
